<h1>COM 221 Records</h1>

<ul class="attendance-options">
  <li class="attendance-option" (click)="closeDropDown(rec)">
    <div class="drop-down__btn"></div>
    <h1>Aggregate Score</h1>
  </li>
  <li #rec class="attendance-option daily" (click)="dropDownRec(rec)">
    <div class="drop-down__btn">
      <div class="dash minus"></div>
      <div class="dash plus"></div>
    </div>
    <h1>Daily Record</h1>
  </li>
  <ul class="daily-records">
    <li
      *ngFor="let dailyRecord of dailyRecords; let i = index"
      class="daily-record"
    >
      <div class="border-left">
        <div class="within"></div>
        <div class="circle"></div>
      </div>
      <p routerLink="{{ i }}">
        Day {{ i + 1 }} [{{ dailyRecord.date.replaceAll('/', '-') }}]
      </p>
    </li>
  </ul>
</ul>
