@mixin display-flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin centered() {
  @include display-flex();
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 0;
  padding-top: 3rem;
  font-size: 1.8rem;

  span {
    font-size: 1.5rem;
    font-weight: normal;
  }

  @media (min-width: 48rem) {
    padding-top: 5rem;
  }
}

h2 {
  @include display-flex();
  background-color: #005500;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5;
  width: 98%;
  padding: 0.5rem;
  margin: 0;

  @media (min-width: 64rem) {
    width: 70%;
  }

  .matric-title {
    width: 60%;
    @include centered();
  }
  .status-title {
    @include centered();
    width: 40%;
  }
}

.records {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 98%;

  @media (min-width: 64rem) {
    width: 70%;
  }

  .record {
    @include centered();
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    padding: 1rem 0;

    &:nth-child(even) {
      background-color: #0055003d;
    }

    .matric-number {
      @include centered();
      width: 60%;
    }

    .status {
      @include centered();
      flex-direction: column;
      width: 40%;
      position: relative;
      font-weight: bold;

      .current {
        border-radius: 5px;
        padding: 0.5rem 1rem;
        background-color: #00bd0070;
      }

      .status-opt {
        @include centered();
        flex-direction: column;
        display: none;
        position: absolute;
        top: 100%;
        padding: 0.5rem;
        background-color: #00bd0070;
      }
    }
  }
}
